* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}
main {
  width: 90%;
  max-width: 880px;
  margin: 5% auto;
  border: 1px solid;
  padding: 40px 30px;
}
.formContainer {
  border: 1px solid;
  padding: 10px;
}
form {
  padding: 20px 30px;
}
header {
  text-align: center;
  font-size: large;
}
.field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
label {
  font-size: x-large;
}
input {
  padding: 4px 5px;
  font-size: 20px;
  border: 1px solid black;
}
.formBtn {
  margin: 40px 0 0 0;
  padding: 10px 0;
  text-align: center;
}
button {
  font-size: large;
  padding: 10px 30px;
  margin: 0 15px;
}
.todoContainer {
  border: 1px solid;
  padding: 5px 5px;
}
.todo {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  margin-bottom: 4px;
  margin: 10px;
  border: 1px solid;
  transition: 0.5s ease-in-out;
}
.todo:hover {
  transform: scale(1.02);
}
.delete {
  border-radius: 3px 2px;
  padding: 2px;
  display: flex;
  align-items: center;
  transition: 0.6s ease-in-out;
}
.delete:hover {
  background: #9c999929;
}
